* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
font-family: 'Kanit', sans-serif;
overflow-x: hidden;
}

h1 {
font-size: 52px;
font-weight: 800;
}

h2 {
font-size: 40px;
font-weight: 600;
}

p {
font-size: 28px;
font-weight: 500;
}

.custom-bg {
background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,53,121,1) 50%, rgba(0,212,255,1) 100%);
}

.hidden {
    display: none;
}
